html {
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
}

/******************
globals
 */
button { border: 1px solid black; font-size: 2.5em; font-weight: bold;} /** add border around buttons **/

input { width: 100%; font-size: 4.5em; background: black; color: white; direction: rtl; }
/** direction rtl -> right to left for text to show up like a real calculator on right side of screen. **/

.container { margin-top: 3.75em; }
.box-restraint { width: 37.500em; margin-left: auto; margin-right: auto; }
.col-12 { width: 100%; line-height: 1.6px; }


/**
main colors
 */
.primary-color { background:#d1d3d6; } /** grey color for numbers and clear and back button **/
.secondary-color { background: coral; }
/**
normal button size.
 */
.col-25p { width: 25%; }





/****************
helpers
 */
.height { height: 95px; } /* needed to give height for buttons. */
.inline { display: inline-block; } /** for buttons inside rows. **/


/***************
Row alignment.
 */
.row { display: flex; justify-content: space-between; }



/****************
input button
 */
.output-color {  background: black;}

/*****************
clear button
 */
.col-6 { width: 50%; }
/****************
zero button
 */
.col-75p { width: 75%; }