//=================================================
// Button
//=================================================
%button {
  background-color: $darkblue-color;
  border-radius: $button-radius;
  color: $lightblue-color;
  display: inline-flex;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: opacity 0.5s;

  &:hover {
    color: $white;
    opacity: 0.8;
  }
  &:active {
    opacity: initial;
  }
}




.btn-main {
 @extend %button;

}

