//===================================================
// VARIABLES
// ==================================================


$darkblue-color: #1F2DC8; // dark ocean blue
$midblue-color: #215ED2;  // mid ocean blue
$grayblue-color: #2781BB; // gray-blue
$lightblue-color: #21BBD2; // light blue - shade of green in it.
$lightgreen-color: #1FC8AF; // light green - light shade of green from blue.

// ========================================================================
// Buttons
// ========================================================================
$button-radius: 50%;