
.calculator {
  width: 600px;
  background-color: lighten($grayblue-color, 25%);
  margin: 0 auto;

  border-radius: 5em;

  display: flex;
  justify-content: center;

}



.output { width: 350px; margin-top: 1.5em; height: 2.8em; background-color: $white; display: inline-flex;}



